<div class="container" style="text-align:center">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">만남적기</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
          <h4 class="modal-title">만남 정보를 적어주세요</h4>
        </div>
        
        <div class="modal-body">
          <div class="container form-group row" style="text-align:center;">
                <div class="col-lg-6">
                      
                <form action="/home/write" method="POST">
                    <input type="hidden" name="email" value="<%=current_user.email%>">
                    <input type="text" class="form-control" name="place" placeholder="만날 장소를 적어주세요(ex) 연세대 입구)"><br>
                    <input type="text" name="number" class="form-control" placeholder="몇명이 참여하는지 적어주세요(ex) 3명)"><br>
                    <textarea rows="4" cols="50" class="form-control" name="content"> </textarea><br>
                
                    <input type="submit" class="btn btn-primary" value="게시하기">
                    
                    <br> <br>
                </form>
                </div>
                
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>