      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              <% unless current_user.nil? %>
              	  <p class="centered"><img src="/assets/<%=current_user.univ %>.jpg" class="img-circle" width="60"></p>
              	  <h5 class="centered"><small>환영합니다</small> <%=current_user.email %><small>님</small></h5>
              	  

              <% end %>
              	 
              	 <br>
          <div>
              	  <form action="/home/three" method="POST">
              	 
                        <input id="autocomplete" name=search type="text" style="width: 140px;" placeholder="대학교 검색하기...">
                        <input type="submit" value="검색하기">
                  </form>

                    <script>
                    $(function(){
                        var autocomplete_text = ["인하대학교","숙명여자대학교","인천대학교","연세대학교","이화여자대학교"];
                             $("#autocomplete").autocomplete({
                                source: autocomplete_text
                             });
                    })
                    </script>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
