  <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>오<small>빠가</small> 미팅 <small>잡아줄게</small></b></a>
            <!--logo end-->
                
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/인하대 로고.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><small>환영합니다</small> 장석준<small>님</small></h5>
              	  
              	  <div>
              	  <p style="text-align:center">대학교 검색</p>
              	  </div>
  <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter items...">



              	  	
                 <h2>실시간 대학교</h2>

                                    <div class="form-group">
                                        <div class="items-collection2">
                            
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-car fa-2x"></span>
                                                                <h5>연세대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-truck fa-2x"></span>
                                                                <h5>고려대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-laptop fa-2x"></span>
                                                                <h5>인하대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-cube fa-2x"></span>
                                                                <h5>숙명여대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-lock fa-2x"></span>
                                                                <h5>secure</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-barcode fa-2x"></span>
                                                                <h5>barcode</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-key fa-2x"></span>
                                                                <h5>key</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-keyboard-o fa-2x"></span>
                                                                <h5>keyboard</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-12 col-md-12 col-lg-12">                
                                            <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter items...">
                                        </div>
                                    </div>
                                </div>    
                                                   
                        </h3>
                    


    


<script>
$(function () {
    $('#search').on('keyup', function () {
        var pattern = $(this).val();
        $('.items-collection2 .items2').hide();
        $('.items-collection2 .items2').filter(function () {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});
</script>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
            
            
            
            
            
<section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-10 main-chart" style="height:250;">
                     <div class="row col-lg-10"><br>
                     
                       <form action="/home/post" method="POST">
                          <input class="btn btn-primary" type="submit" value="만남 적기"> <br> <br>
                       </form>
                     
                       <h3>최근 올라온 미팅 리스트</h3>
                     </div>
                     <div class="col-lg-2"><br>
                       <h3>더보기</h3>
                    	</div>
                            
                    	
                    
    	<div class="row mtbox">
                  	   	    
                  	    
					<% @posts2.reverse.each do |x| %>

            <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5><%= x.univ %> / <%= x.sex %></h5>
								</div>
								<p><img src="/assets/인하대 로고.jpg" class="img-circle" width="40"></p>
								<p><b><%= x.place %> / <%= x.number %></b></p>
								
							</div>
			      </div>

      </div>
            </form> <br>

            <% end %>
           
 
      
            <br>
                
              
              





              </div><! --/row -->
              
              
              
          </section>
      </section>

      <!--main content end-->
     

      

      </footer>
      <!--footer end-->
