<!-- 네비게이션 바 -->
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header menuitem">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
          </ul>
        </div>
        <div>  <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="fa fa-gift bigicon"></span> 4 - Items in Cart<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-cart" role="menu">
                  <li>
                      <span class="item">
                        <span class="item-left">
                            <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_1.jpg" alt="" />
                            <span class="item-info">
                                <span>Item name</span>
                                <span>price: 27$</span>
                            </span>
                        </span>
                        <span class="item-right">
                            <button class="btn btn-danger  fa fa-close"></button>
                        </span>
                    </span>
                  </li>
    <li>
                      <span class="item">
                        <span class="item-left">
                            <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_2.jpg" alt="" />
                            <span class="item-info">
                                <span>Item name</span>
                                <span>price: 3$</span>
                            </span>
                        </span>
                        <span class="item-right">
                            <button class="btn btn-danger  fa fa-close"></button>
                        </span>
                    </span>
                  </li>
                                <li>
                      <span class="item">
                        <span class="item-left">
                            <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_3.jpeg" alt="" />
                            <span class="item-info">
                                <span>Item name</span>
                                <span>price: 12$</span>
                            </span>
                        </span>
                        <span class="item-right">
                            <button class="btn btn-danger  fa fa-close"></button>
                        </span>
                    </span>
                  </li>
    <li>
                      <span class="item">
                        <span class="item-left">
                            <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_4.jpg" alt="" />
                            <span class="item-info">
                                <span>Item name</span>
                                <span>price: 7$</span>
                            </span>
                        </span>
                        <span class="item-right">
                            <button class="btn btn-danger  fa fa-close"></button>
                        </span>
                    </span>
                  </li>              
                  <li class="divider"></li>
                  <li><a class="text-center" href="#">View Cart</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <
    
    
<!-- side menu-->    
    
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span> <a>Blogs</a>
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="glyphicon glyphicon-minus text-primary"></span> <a>Edit Blog</a></li>
                                    <li class="list-group-item"><span class="glyphicon glyphicon-minus text-success"></span> <a>Publish Blog</a></li>
                                    <li class="list-group-item"><span class="glyphicon glyphicon-minus text-warning"></span> <a>Delete Blog</a></li>
                                </ul>
                            </li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-edit text-success"></span> <a>Contact us</a></li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-share-alt text-info"></span> <a>Share</a></li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-bell text-success"></span> <a>Users online</a><span class="badge">7</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menu Information</h3>
                </div>
                <div class="panel-body">                    
                    <div class="alert alert-success">
                        <h3>
                        
                        <!--게시판 포스트-->
                          
                                <h2>실시간 대학교</h2>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="items-collection">
                            
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-car fa-2x"></span>
                                                                <h5>연세대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-truck fa-2x"></span>
                                                                <h5>고려대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-laptop fa-2x"></span>
                                                                <h5>인하대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-cube fa-2x"></span>
                                                                <h5>숙명여대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-lock fa-2x"></span>
                                                                <h5>secure</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-barcode fa-2x"></span>
                                                                <h5>barcode</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-key fa-2x"></span>
                                                                <h5>key</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-keyboard-o fa-2x"></span>
                                                                <h5>keyboard</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-12 col-md-12 col-lg-12">                
                                            <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter items...">
                                        </div>
                                    </div>
                                </div>    
                                                   
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    


<style>
body {
    margin: 40px;
}
#accordion .glyphicon {
    margin-right: 10px;
}
.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}
.panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel-collapse .list-group-item {
    border-radius: 0;
}
.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}
.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}
.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}
.panel-collapse div.list-group div.list-group {
    margin: 0;
}
.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    padding-left: 30px;
}
</style>    


<style>
#search {
    width:90%;
}

.searchicon {
    color:#5CB85C;
}

.items-collection{
    margin:20px 0 0 0;
}
.items-collection label.btn-default.active{
    background-color:#007ba7;
    color:#FFF;
}
.items-collection label.btn-default{
    width:90%;
    border:1px solid #305891;
    margin:5px; 
    border-radius: 17px;
    color: #305891;
}
.items-collection label .itemcontent{
    width:100%;
}
.items-collection .btn-group{
    width:90%
}
</style>

<script>
$(function () {
    $('#search').on('keyup', function () {
        var pattern = $(this).val();
        $('.items-collection .items').hide();
        $('.items-collection .items').filter(function () {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});
</script>




    
    
<!--네브바 스타일-->    
    <style>
    .bigicon {    
        color:white;
    }
    
    .mix{
        min-height:370px;
    }
    
    ul.dropdown-cart{
        min-width:250px;
        border: 2px solid #343434;
        padding: 2px;
        margin: 7px;
        margin-top: 11px;
    }
    ul.dropdown-cart li .item{
        display:block;
        padding:3px 10px;
        margin: 3px 0;
        
    }
    ul.dropdown-cart li .item:hover{
        background-color:#c3c5c5;
        
    }
    ul.dropdown-cart li .item:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    
    ul.dropdown-cart li .item-left{
        float:left;
    }
    ul.dropdown-cart li .item-left img,
    ul.dropdown-cart li .item-left span.item-info{
        float:left;
    }
    ul.dropdown-cart li .item-left span.item-info{
        margin-left:10px;   
    }
    ul.dropdown-cart li .item-left span.item-info span{
        display:block;
    }
    ul.dropdown-cart li .item-right{
        float:right;
    }
    ul.dropdown-cart li .item-right button{
        margin-top:14px;
    }   
    </style>