<input type="text" name="str_email01" id="str_email01" style="width:100px"> @
<input type="text" name="str_email02" id="str_email02" style="width:100px;" disabled value="ac">
<select style="width:100px;margin-right:10px" name="selectEmail" id="selectEmail">
     <option value="1">직접입력</option>
     <option value="ac" selected>ac</option>
     <option value="inha">inha</option>
     
</select>

<input type="text" name="str_email03" id="str_email03" style="width:100px;" disabled value=".kr">
<select style="width:100px;margin-right:10px" name="selectEmail2" id="selectEmail2">
     <option value="1">직접입력</option>
     <option value=".kr" selected>.kr</option>
     <option value=".edu">.edu</option>
     
</select>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
//이메일 입력방식 선택
$('#selectEmail').change(function(){
   $("#selectEmail option:selected").each(function () {
        
        if($(this).val()== '1'){ //직접입력일 경우
             $("#str_email02").val('');                        //값 초기화
             $("#str_email02").attr("disabled",false); //활성화
        }else{ //직접입력이 아닐경우
             $("#str_email02").val($(this).text());      //선택값 입력
             $("#str_email02").attr("disabled",true); //비활성화
        }
   });
});

//이메일 입력방식 선택
$('#selectEmail2').change(function(){
   $("#selectEmail2 option:selected").each(function () {
        
        if($(this).val()== '1'){ //직접입력일 경우
             $("#str_email03").val('');                        //값 초기화
             $("#str_email03").attr("disabled",false); //활성화
        }else{ //직접입력이 아닐경우
             $("#str_email03").val($(this).text());      //선택값 입력
             $("#str_email03").attr("disabled",true); //비활성화
        }
   });
});
</script>