<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-html5"><img src="/assets/인하대학교.jpg" class="img-circle" width="100"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">인하대학교 기계공학과</h4>
                    <p>어디든지 / 4명 / 여대환영</p>
                    <a href="" class="btn">참여 댓글쓰기</a>
                </div>
            </div>
        </div>
	</div>
</div>
